{% load static %}

<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Add your CSS links here -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <!-- Your header content goes here -->
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url "sport:user_list" %}">Users</a></li>
                    <li><a href="{% url "sport:signout" %}" class="btn">Sign Out</a></li> 
                {% endif %}
                <li><a href="{% url 'sport:index' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Your footer content goes here -->
        <p>&copy; 2024 Levi</p>
    </footer>

    <!-- Add your JavaScript links here -->
</body>
</html>