{% extends "sport/base.html" %}

{% block content %}
<div class="create-contest">
    <h1>Create a New Contest</h1>

    <form action="{% url "sport:create_contest" %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Create Contest</button>
    </form>
</div>
{% endblock content %}