{% extends "sport/base.html" %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <section class="user-info">
        <h2>Welcome, {{ user.username }}!</h2>
        {% if user_list %}
        <div class="user-list-container">
            <h3>Other Users</h3>
            <ul class="user-list">
                {% for user in user_list %}
                <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>No other users found.</p>
        {% endif %}

        {% if sport_list %}
        <section class="featured-sports">
            <h2>Featured Sports</h2>
            <div class="sport-cards">
                {% for sport in sport_list %}
                <div class="sport-card">
                    <div class="sport-card-content">
                        <h3>{{ sport.name }}</h3>
                        <p>{{ sport.description }}</p>
                        <a href="{% url "sport:sport_detail" sport_id=sport.id %}" class="btn">Learn More</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}
    </section>
    {% else %}
    <div class="cta">
        <a href="{% url "sport:signin" %}" class="btn">Sign In</a>
        <p>Don't have an account? <a href="{% url "sport:signup" %}">Sign Up</a></p>
    </div>
    {% endif %}
</div>
{% endblock content %}