{% extends "sport/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/sport_detail.css' %}">

{% block title %}SportZone - {{ sport.name }}{% endblock %}

{% block content %}
<div class="sport-detail-container">
    <div class="sport-header">
        <h1>{{ sport.name }}</h1>
        <p class="sport-description">{{ sport.description }}</p>
        <a href="{% url 'sport:create_contest' %}" class="btn btn-primary">Create Contest</a>
    </div>

    <div class="contest-list">
        <h2>Contests</h2>
        {% if contest_list %}
        <ul class="contest-cards">
            {% for contest in contest_list %}
            <li class="contest-card">
                <a href="{% url 'sport:contest_detail' contest_id=contest.id %}" class="contest-card-link">
                    <h3 class="contest-card-title">{{ contest.name }}</h3>
                    <p class="contest-card-description">{{ contest.description|truncatewords:20 }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No contests available for this sport. Be the first to <a href="{% url 'sport:create_contest' %}">create a contest</a>!</p>
        {% endif %}
    </div>
</div>
{% endblock content %}