{% include 'connect/header.html' %}

<h1>{{ sport.name }}</h1>

<p>Here is {{ sport.name }}, Please join</p>

<h2>Contests:</h2>
{% if contests %}
    <ul>
        {% for contest in contests %}
            <div>
                <a href='{% url "connect:contest" contest.id %}'>{{ contest.name }}</a>
            </div>
        {% endfor %}
    </ul>
{% else %}
    <p>It`s Not Contest</p>
{% endif %}

<fieldset>
    <h4>Choose a Sport</h4>
    <select >
        {% for sport in sport_list %}
            <option value={{ sport.id }}>{{ sport.name }}</option>
        {% endfor %}
    </select>
    <form action='{% url "connect:create_contest" %}' method='post'>
    {% csrf_token %}
        <div>
            <label for='contest_name'>Contest Name</label>
            <input type='text' name='contest_name'><br>
            <label for='contest_gamer_amount'>Number</label>
            <input type='number' name='contest_gamer_amount'><br>
            <label for='contest_date'>Contest Date</label>
            <input type='date' name='contest_date'><br>
        </div>
        <input type='submit' value='Create' >
    </form>
</fieldset>
